<%@ page
    language="java"
    contentType="text/css; charset=UTF-8"
    pageEncoding="UTF-8"%>
/*----------------------------------------------------------------------------

based on yui library css cheat-sheet  
http://yuiblog.com/assets/pdf/cheatsheets/css.pdf 

version:  $Id$
author:   eddie@elements.ac
website:  mysimpledb.com

-----------------------------------------------------------------------------*/
/*  background */
html {
    /*background:#CC9900; */
}

body { 
    margin: 0;
    padding: 0;
    border: 0;
    font: verdana;
    /*color: #012f7d;*/
} 

/* whoever thought blue linked image borders were a good idea? */  
a img,:link img,:visited img {
    border: none
}

/* --------------------------------------------- */
/*  Paginators                                   */
/* --------------------------------------------- */

.jive-paginator, .jive-paginator A {
    font-family : helvetica,sans-serif;
    padding: 1px;
}

.jive-paginator .jive-current {
    color : #000;
    background-color : #eee;
    border : none;
    text-decoration : none;
}

.jive-paginator A, .jive-paginator A:visited {
    text-decoration : none;
    color : blue;
    border : 1px #fff solid;
}

.jive-paginator A:hover {
    border : 1px #ccc solid;
    color : #000;
    background-color : #ffc;
    text-decoration : none;
}

/* Header 
-----------------------------------------------------------------------------*/
h1 {
    font: verdana;
    font-weight: normal;
    /* top right bottom left */
    margin: 8px 1px 4px 0px;
    color: #010f4d;
    font-size: 183%; /*24px*/
}

h2 {
    font: verdana;
    font-weight: normal;
    /* top right bottom left */
    margin: 6px 1px 4px 0px;
    color: #010f4d;
    font-size: 153.9%; /*20px*/
}

h3 {
    font: verdana;
    font-weight: normal;
    /* top right bottom left */
    margin: 4px 1px 2px 0px;
    color: #010f4d;
    font-size: 123.1%; /*16px*/
}

h4 {
    font: verdana;
    font-weight: normal;
    /* top right bottom left */
    margin: 2px 1px 2px 0px;
    color: #010f4d;
    font-size: 108%; /*14px*/
}

/* Header/ top of page 
-----------------------------------------------------------------------------*/
.header {
    height: 50px;
    font-size: 116%; /*15px*/
    font: verdana;
    color: #012f7d;
    width: 300px;
    /* top right bottom left */
    padding: 0px 0px 0px 195px;
    text-decoration: none;
    display: block;
}

a.header:link,a.header:active,a.header:visited {
    text-decoration: none
}


/* Colors 
-----------------------------------------------------------------------------*/
.white-header {
    background-color: white;
    width: 100%;
}

/* main content area 
-----------------------------------------------------------------------------*/

p {
    font-size: 116%; /*15px*/
    font: verdana;
    color: #012f7d;
    /*letter-spacing:-0.5px;*/
    word-spacing: -3%;
    line-height:110%;
}

li {
    font-size: 116%; /*15px*/
    font: verdana;
    color: #012f7d;
}


/* Forms 
-----------------------------------------------------------------------------*/
fieldset {
    border: 1px solid #012f7d;
    /* top right bottom left */
    margin: 10px 2px 2px 2px;
    /* top right bottom left */
    padding: 2px 10px 20px 10px;
}

legend {
    border: 0px;
    /* top right bottom left */
    padding: 2px 10px 2px 10px;
}

label {
    width: 170px;
    float: left;
    font-weight: bold;
    text-align: right;
    margin: 5px 3px 1px 3px;
    display: block;
    color: #012f7d;
}


input[type=password] {
    height: 15px;
    /* top right bottom left */
    padding: 1px;
    margin: 0px 3px 1px 3px;
    border-color: #CC9900;
    border-style: solid;
    border-width: 1px;
    background: #FFFFCC;
    font: verdana;
    color: #012f7d;
    font-size: 90%;
}

input[type=text] {
    height: 15px;
    /* top right bottom left */
    padding: 1px;
    margin: 0px 3px 1px 3px;
    border-color: #CC9900;
    border-style: solid;
    border-width: 1px;
    background: #FFFFCC;
    font: verdana;
    color: #012f7d;
    font-size: 90%;
}



.validation-failed { /* for textboxes, textareas, passwords */
    border:1px dashed #F33;
    background-color:#FCC;
}

.validation-failed-cr { /* for checkboxes and radios */

}

.validation-failed-sel { /* for selects */

}

.validation-passed { /* for textboxes, textareas, passwords */
    border:1px solid #6C6;
    background-color:#CFF;
}

.validation-passed-cr { /* for checkboxes and radios */

}

.validation-passed-sel { /* for selects */

}

/* Tables  
-----------------------------------------------------------------------------*/
table {
    border-spacing:  0;
    border-collapse:  collapse;
    border-color: #012f7d;
}

td {
    text-align:  left;
    font-weight:  normal;
    /* top right bottom left */
    padding: 3px;
}
