/**
 * Even more rounded corners with CSS: Base stylesheet --
 * http://www.schillmania.com/content/projects/even-more-rounded-corners/
 * author: eddie@elements.ac
 * version: $Id$
*/
.dialog {
	position: relative;
	margin: 0px;
	padding: 0px;
	min-width: 100px;
	max-width: 400px;
	/* based on image dimensions */
	z-index: 1;
	margin-left: 10px; /* default, width of left corner */
	border: 0px solid darkred;
}

.dialog .content,.dialog .t,.dialog .b,.dialog .b div {
	background: transparent url(/mysimpledb/assets/js/tooltip.png) no-repeat top right;
	_background-image: url(/mysimpledb/assets/js/tooltip.png);
}

.dialog .content {
	text-align: left;
	position: relative;
	zoom: 1;
	_overflow-y: hidden;
	padding: 0px 0px 0px 0px;/*candidate for padding*/
	margin: 0;
	border: 0px solid brown;
}

.dialog .t { /* top left slice */
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px; /* top slice width */
	margin-left: -0px;
	height: 100%;
	_height: 1600px; /* arbitrary long height, IE 6 */
	background-position: top left;
	border: 0px solid violet;
}

.label-content {
	color: black;
	padding: 8px 0px 0px 0px;
	margin: 0px 10px 0px 11px; /* t r b l */
	border: 0px solid #CBCBCB;
}

.dialog .b {/* bottom right */
	
	padding: 0px;
	width: 100%;
	//width: 400px;/*ie*/
	height: 9px;
	background-position: bottom right;
	border: 0px solid yellow;
}

.dialog .b div {/* bottom left */
	position: relative;
	//display: none;/*ie*/
	height: 9px;
	width: 10px; /* bottom corner width */
	margin-left: 0px;
	align: left;
	background-position:bottom left;
	border: 0px solid green;
}

.frame {/* on over mask */
	background: yellow;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	opacity: .25;
	*filter: alpha(opacity=25);/* Set opacity in IE */
}